.section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1920px;
    margin: 20px 140px;
}

.title {
    font-family: "Roboto Condensed";
    font-size: clamp(24px, 3vw, 96px);
    font-weight: 600;
    color: #05183C;
    margin-bottom: 15px;
}

.description {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: clamp(14px, 1vw, 24px);
    color: #05183C;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.goalsList {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.goalItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}


.goalIdWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.goalId {
    font-size: clamp(12px, 1vw, 20px);
    font-weight: 400;
    color: #00408B;
    min-width: 40px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #00408B;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.chain {
    height: 80px;
    border-left: 1px dashed #00408B;
    position: absolute;
    top: 50px;
}

.goalTitle {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: clamp(28px, 3vw, 42px);
    font-weight: bold;
    color: #05183C;
    margin-bottom: 5px;
}

.goalDescription {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: clamp(16px, 1vw, 28px);
    color: #B4AEAE;
    padding-top: 20px;
}


/* Добавь в конец файла */

.slider {
    margin-top: 30px;
    width: 100%;
}

.slide {
    padding: 20px;
}

.slideContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.slideImage {
    width: 480px;
    max-width: 90%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.textBlock {
    max-width: 600px;
    text-align: left;
}

@media (max-width: 768px) {
    .slideContent {
        flex-direction: column;
        text-align: center;
    }

    .textBlock {
        max-width: 100%;
    }
}

@media (max-width: 1000px) and (min-width: 768px) {
    .container {
        margin: 20px 40px;
    }
}


@media (max-width: 768px) {
    .container {
        margin: 20px 30px;
    }
}


/* Responsive */
@media (max-width: 600px) {
    .goalItem {
        flex-direction: column;
        text-align: center;
    }

    .goalId {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .chain {
        display: none;
    }
}