    .coursesContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner {
        max-width: 1920px;
        margin: 20px 140px;
    }

    .title {
        font-family: "Roboto Condensed";
        font-size: clamp(24px, 3vw, 96px);
        font-weight: 600;
        color: #05183C;
        text-transform: uppercase;
    }

    .subtitle {
        font-family: "Roboto";
        font-size: clamp(14px, 1vw, 24px);
        color: #05183C;
        font-weight: 200;
        margin: 3rem 0;
        text-align: justify;
        text-justify: inter-word;
    }

    .coursesGrid {
        font-family: "Roboto";
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .firstCard {
        background-image: url('../../assets/img/kotlin.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .courseCardWhite {
        width: 100%;
        background: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 4px 9px 0px #00000040;
        color: #05183C;
        text-align: left;
        transition: transform 0.2s ease-in-out;
    }

    .courseCardBlue {
        width: 100%;
        background: linear-gradient(90deg, #05183C -12.77%, #00408B 108.34%);
        color: #FAFAFA;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
        transition: transform 0.2s ease-in-out;
    }

    .cardsInner {
        padding: 40px 0;
    }

    .courseCardWhite:hover,
    .courseCardBlue:hover {
        transform: translateY(-5px);
    }

    .courseTitle {
        font-size: clamp(16px, 1.4vw, 28px);
        font-weight: 700;
        margin-bottom: 40px;
    }

    .courseDescription {
        font-weight: 300;
        font-size: clamp(14px, 1vw, 21px);
        margin-bottom: 40px;
        text-align: justify;
        text-justify: inter-word;
    }

    @media (max-width: 1000px) and (min-width: 768px) {
        .inner {
            margin: 20px 40px;
        }
    }

    @media (max-width: 768px) {
        .inner {
            margin: 20px 30px;
        }

        .coursesGrid {
            grid-template-columns: 1fr;
        }
    }