.header {
  width: 100%;
  background-color: #002E65;
  color: #FAFAFA;
  padding: 13px 30px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  max-width: 30%;
  height: auto;
  max-height: 8vh;
  object-fit: contain;
}

.nav {
  display: flex;
  justify-content: center;
  font-size: clamp(14px, 1vw, 24px);
}

.link {
  font-family: "Roboto";
  font-weight: 300;
  text-decoration: none;
  padding-left: 20px;
  color: #FAFAFA;
  transition: text-decoration 0.2s;
  font-size: clamp(10px, 0.86vw, 21px);
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.link:hover {
  text-decoration: underline;
}


.rightSection {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;
}


.languageButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: clamp(14px, 1vw, 24px);
}

.languageButton:hover {
  text-decoration: underline;
}

.uaeLogo {
  max-height: 5vh;
  max-width: 400px;
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  object-fit: contain;
}

.flag {
  max-height: 5vh;
  max-width: 100px;
  object-fit: contain;
}

.udacity {
  max-height: 10vh;
  max-width: 120px;
  object-fit: contain;
}

.burger {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.uaeLogoMobile {
  display: none;
}

.flagMobile {
  display: none;
}

.udacityMobile {
  display: none;
}

@media (max-width: 1100px) {
  .nav {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #002E65;
    display: none;
    padding: 20px 20px;
  }

  .nav.open {
    display: flex;
  }

  .burger {
    display: block;
  }

  .link {
    padding-left: 0px;
    padding-top: 20px;
  }

  .flag {
    display: none;
  }

  .logo {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 15px 10px;
  }

  .uaeLogo {
    display: none;
  }

  .udacity {
    display: none;
  }

  .logoUaeBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .uaeLogoMobile {
    display: flex;
    max-height: 4vh;
    max-width: 600px;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    object-fit: contain;
  }

  .udacityMobile {
    display: flex;
    max-height: 5vh;
    max-width: 400px;
    padding: 5px;
    object-fit: contain;
  }
}