.button {
  font-family: "Roboto";
  font-weight: 400;
  font-size: clamp(12px, 1vw, 20px);
  background-color: #001b41;
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.button:hover {
  background-color: transparent;
  color: #001b41;
  border: 1px solid #05183C;
}

.buttonSecondary {
  font-family: "Roboto";
  font-weight: 400;
  font-size: clamp(12px, 1vw, 20px);
  background-color: transparent;
  color: #05183C;
  padding: 10px 20px;
  border: 1px solid #05183C;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.buttonSecondary:hover {
  background-color: #05183C;
  border: none;
  color: #fafafa;
}

.buttonTertiary {
  font-family: "Roboto";
  font-weight: 400;
  font-size: clamp(12px, 1vw, 20px);
  background-color: transparent;
  color: #fafafa;
  padding: 10px 20px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buttonTertiary:hover {
  background-color: #fafafa;
  border: none;
  color: #05183C;
}