.footer {
    background-color: #002E65;
    color: white;
    padding: 20px 60px;
    font-family: "Roboto";
}

.footer a {
    color: #fafafa;
    text-decoration: none;
    font-size: clamp(14px, 1.1vw, 20px);
}

.footer a:hover {
    opacity: 0.8;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer li {
    padding: 7px 0;
}

.titles {
    font-size: clamp(14px, 1.3vw, 24px);
    padding-bottom: 10px;
}


.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1600px;
    margin: 20px auto;
}

.footerLeft {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.footerMiddle {
    display: flex;
    flex-direction: column;
}

.imgBlock {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.logoUdacity {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 20px;
}

.htp {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.footerTitle {
    font-size: clamp(12px, 1vw, 20px);
    margin-bottom: 10px;
}

.icon {
    font-size: clamp(14px, 1.9vw, 20px);
}

.copyrightSection {
    display: flex;
    align-items: center;
    font-size: clamp(12px, 1vw, 16px);
    color: white;
    padding-top: 20px;
}

.copyrightIcon {
    margin-right: 5px;
}

.photographer {
    margin: 0;
}


@media (max-width: 910px) {
    .footer {
        padding: 20px 40px;
    }

    .footerMiddle {
        display: none;
    }
}

@media (max-width: 700px) {
    .footer {
        padding: 20px 10px;
    }
}

@media (max-width: 700px) {
    .imgBlock {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .logoUdacity {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .htp {
        width: 150px;
        height: auto;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .logoUdacity {
        width: 150px;
        height: auto;
        margin-bottom: 5px;
        margin-top: 20px;
        margin-left: 0px;
    }
}